
.flexColumn {
    display: flex;
    flex-direction: column;
}

.basketLinkWrapper {
    position: sticky;
    background-color: #232526;
    font-size: 1.5vw;
    padding: 2vw;
    border-radius: 2vw;
    height: 100%;
}

.basketLinkTextWrapper {
    margin-bottom: 2.5vw;
}

.basketLinkName {
    font-weight: 700;
    padding-bottom: 0.5vw;
}

.basketLinkButton {
    background-color: #F86600;
    padding: 1.2vw 1.5vw;
    border-radius: 5vw;
    font-weight: 700;
    font-size: 1.5vw;
    text-decoration: none;
}
