.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.asteroidListWrapper {
    margin: 0 5vw;
    max-width: 40vw;
    height: auto;
}

.asteroidListHeaderName {
    font-size: 2.5vw;
    font-weight: 700;
}

.asteroidListHeaderDescription {
    font-size: 1.4vw;
    margin-top: 1vw;
}

.asteroidListElement {
    margin-top: 2.5vw;
}

.asteroidDate {
    font-size: 2vw;
    margin-bottom: 1vw;
}

.asteroidListElementDistanceKM {
    font-size: 1.4vw;
    margin-top: 0.5vw;
}

.arrowLeftRight {
    margin-top: 0.5vw;
    width: auto;
    height: auto;
}

.asteroidImage {
    margin: 0.5vw;
    width: 3vw;
    height: auto;
}

.asteroidListElementDistanceLunarOrbit {
    font-size: 1.4vw;
    margin-top: 0.5vw;
}

.asteroidListElementDiameter {
    font-size: 1vw;
    margin-top: 0.5vw;
}

.orderButton {
    background-color: #F86600;
    padding: 0.5vw 1vw;
    border-radius: 5vw;
    font-weight: 700;
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    text-decoration: none;
}

.warningMessage {
    display: flex;
    font-size: 1.2vw;
    color: #E3E5E5;
    align-items: center;
    margin-left: 0.8vw;
}

.warningSign {
    width: 1.3vw;
    height: auto;
    margin-right: 0.35vw;
}
